<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<span>Website by Max Soltin © 2021</span>
			</div>
		</div>
	</div>
</footer>

<script src="js/libs.min.js"></script>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
</body>

</html>
